<h1>Hello</h1>
<div class="mapbox">
  <div> <%= image_tag activity.photo, class: "img-circle-map", crop: :fill %></div>
  <h3> <%= activity.name %></h3>
  <p> Located <%= activity.address %></p>
</div>
