<h4> Hello</h4>
<% @activities_one.each do |activity| %>
  <%= activity.title %>
<% end %>

<% @activities_two.each do |activity| %>
  <%= activity.title %>
<% end %>

<% @activities_three.each do |activity| %>
  <%= activity.title %>
<% end %>
