<%= simple_form_for [@trip] do |f| %>
  <%= f.input :knows_the_city, label: 'Knows Paris?', :collection => [0, 1, 2, 3, 4, 5], prompt: "Select a level" %>
  <%= f.input :budget, label: 'Budget', :collection => [0, 1, 2, 3, 4, 5], prompt: "Select a budget" %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
<% end %>

</head>
<body onload="Init ()">
    Your friend is travelling:<br>
<form action="../">
<input type="radio"  value="solo" name="test[1][]"/> Solo <br>
<input type="radio"  value="family" name="test[1][]"/> As a family <br>
<input type="radio"  value="couple" name="test[1][]"/> As a couple <br>
<input type="radio"  value="friends" name="test[1][]"/> With friends <br>
</form>

<script type="text/javascript">
function addClassCheck(element){

    if(element.checked){
        element.classList.add("marked");
    }
    else
    {
        element.classList.remove("marked");
    }

    if(document.getElementsByClassName("marked").length>3){
      alert("Please select only one check box");
        element.checked=false;
        element.classList.remove("marked");
    }

}
</script>
<h3> Your friend is...</h3>
<form action="../">
<input type="checkbox"  value="sight_seeing_adventurer" name="test[1][]" onclick="addClassCheck(this)"/> Sight Seeing Adventurer <br>
<input type="checkbox"  value="art_lover" name="test[1][]" onclick="addClassCheck(this)"/> an Art Lover <br>
<input type="checkbox"  value="serial_shopper" name="test[1][]" onclick="addClassCheck(this)"/> a Serial Shopper <br>
<input type="checkbox"  value="nature_lover" name="test[1][]" onclick="addClassCheck(this)"/> a Nature Lover <br>
<input type="checkbox"  value="food_addict" name="test[1][]" onclick="addClassCheck(this)"/> a Food Addict <br>
<input type="checkbox"  value="sport_lover" name="test[1][]" onclick="addClassCheck(this)"/> a Sport Lover <br>
<input type="checkbox"  value="history_passionate" name="test[1][]" onclick="addClassCheck(this)"/> a History Passionate <br>
<input type="checkbox"  value="tech_fan" name="test[1][]" onclick="addClassCheck(this)"/> a Tech fan <br>
<input type="checkbox"  value="relaxed" name="test[1][]" onclick="addClassCheck(this)"/> Relaxed <br>
<input type="checkbox"  value="city_wanderer" name="test[1][]" onclick="addClassCheck(this)"/> a city wanderer <br>
</form>


