// Define variables for your color scheme

// For example:
$light: #EAF1FF;
$dark-pink: #EC3159;
$blue: #3B6AE5;
$yellow: #FFEC00;
$orange: #E67E22;
$green: #0cce6B;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
$red: #FA360A;
$purple: #8D65FF;
$light-purple:#C6CEFF;
$flash-pink: #FF008B;
$beige: rgba(233, 226, 211, 0.4);
$blue-emerald: #24C2B4;
