// Define variables for your color scheme

// For example:
$black: #333;
$light: #EAF1FF;
$dark-pink: #EC3159;
$blue: #3B6AE5;
$yellow: #FFEC00;
$orange: #E67E22;
$green: #03FCBA;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
$red: #FA360A;
$purple: #8D65FF;
$light-purple:#C6CEFF;
$flash-pink: #FF008B;

$red-pink: #EF476F;
$carmine-pink: #F8333C;
$light-sea-green: #2B9EB3;
$timber-beige: #DBD5B5;
$other-white: #f2f3f4;
$vivid-cerulean-blue: #0197F6;

$beige: rgba(233, 226, 211, 0.4);
$blue-emerald: #24C2B4;
