// Define variables for your color scheme

// For example:
$light: #EAF1FF;
$dark-rose: #EC3159;
$blue: #3B6AE5;
$yellow: #FED036;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
$purple: #A368F8
