.step-container {
  margin-bottom: 20px;
  background: $dark-pink;
  color: white;
  display: flex;

}
.step-description {
  flex: 0 0 30%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.step-description p {
  text-align: center;
  font-size: 16px;
}
.steps {
  background: $dark-pink;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60vh;
}

.steps h3 {
  color: white;
  font-size: 22px;
  text-align: center;
}

#number {
  width: 3%;
}

#stepim {
  width: 400px;
}
.img-home {
  border-radius: 5px;
  height: 250px;
}
