.icons-container {
  background-color: white;
  margin: 5% auto;
  padding: 300px;
}

#foot {
  width: 10%;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 30px;
  width: 100%;
  color: rgba(0,0,0,0.3);
  margin-top: 5%;
}

.icons .fa:hover {
  color: $blue;
}

.step-container {
  margin-bottom: 20px;
}

.steps {
  text-align: center;
}

#number {
  width: 3%;
}

.steps-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 6% auto;
}

#stepim {
  width: 20%;
}

