.step-container {
  margin-bottom: 20px;
  background: $dark-pink;
  color: white;
  display: flex;

}
.step-description {
  flex: 0 0 28%;
  align-items: center;
  justify-content: space-around;
  background: white;                          /* White background */
  padding: 5px;                              /* Internal space */
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(250, 250, 250, 0.3); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 10px;
}

.step-description p {
  text-align: center;
  font-size: 16px;
  color: $dark-pink;
}
.steps {
  background: $dark-pink;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60vh;
}

.steps h3 {
  color: white;
  font-size: 22px;
  text-align: center;
}

#number {
  width: 3%;
}

#stepim {
  width: 400px;
}
.img-home {
  border-radius: 5px;
  height: 250px;
}

