body {
  background: $purple;
}
.container {
  max-width: 800px;
}
.container p {
  font-weight: 500;
}
.form-post {
  margin-top: 30px;
  background: white;
  padding: 20px;
  padding-top: 5px;
  border-radius: 3px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px
  }
}
.simple_form, .new_trip {
  display: block;
  width: 92% !important;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
.form-control {
  background: white !important;
  width: 80% !important;
}

.form-group {
  width: 112%;
}

.control-label {
  font-weight: 500 !important;
  font-size: 15px;
}

.slider {
  width: 80% !important;
  background-color: white !important;
  }

.slider-selection {
  background: $yellow;
}

.slider-handle {
  background: $dark-pink;
}
.slider-tick-label {
  font-size: 10px;
}

.tooltip-main {
 display: none !important;
}
 .description-checkboxes, .status-checkboxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 0;
}
.select-description  {
  background: $yellow;
  padding: 25px;
  min-width: 300px;
  border-radius: 5px;
  opacity: 0.8;
  flex: 0 0 48%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
  }
  &.active {
  background: $dark-pink;
  color: white;
  opacity: 1;
  }
}
.select-status {
  background: $yellow;
  padding: 15px;
  width: 100px;
  border-radius: 5px;
  opacity: 0.8;
  flex: 0 0 22%;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  &:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
  }
  &.active {
  background: $dark-pink;
  color: white;
  opacity: 1;
  }
}
.radio {
  display: inline-block;
  background: $yellow;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}
.hidden {
  display: none;
}
.datepicker {
  width: 400px;
}
.trip-title-flex {
  width: 100% !important;
  margin: 0;
}
.slider-handle .min-slider-handle .round {
  display: hidden;
}
