<%= render 'shared/navbar' %>
<div class="dashboard-container">
  <%= render 'users/dashboard_content', user: @user, trips_host: @trips_host, trips_tourist: @trips_tourist, trips_host_incoming: @trips_host_incoming, trips_host_past: @trips_host_past, trips_tourist_incoming: @trips_tourist_incoming, trips_tourist_past: @trips_tourist_past %>
</div>


