<div class="banner">
  <div class="banner-home">
    <h1> Omakaze</h1>
    <p>Plan the best day in Paris for your friend</p>
    <div class="enter">
        <%= link_to "Create a trip", new_trip_path, class: "btn-home" %>
    </div>
  </div>
</div>
