<div class="banner" >
    <div class="banner-description">
    <h1> OMAKASE</h1>
    <h2>Plan the perfect trip for your friend</h2>
    <br>
      <div>
        <%= link_to "Start", new_trip_path, {class: "btn-homepage"} %>
      </div>
    </div>
</div>
