<div class="banner">
  <div class="banner-home">
    <div class="banner-description">
    <h1> OMAKASE</h1>
    <h3>Planning the best day in Paris for your friend is just a few clicks away</h3>
    </div>
    <div class="enter">
      <div class="button-pulse">
        <%= link_to "Create a trip", new_trip_path, class: "button" %>
      </div>
    </div>
  </div>
</div>
