<div class="banner" style="background-image: url('<%= image_path "iph.png" %>')">
  <div class="banner-home">
    <h1>Omakaze</h1>
    <p>Plan a day in Paris for your friend</p>
      <div class="enter">
           <div class="enter">
          <%= link_to "Create a trip", new_trip_path, class: "btn-home" %>
          </div>
      </div>
  </div>
</div>
