<div class="banner" >
    <%= image_tag "icons/marker1.svg", {class: "marker-home", id: "marker1"}%>
    <%= image_tag "icons/marker2.svg", {class: "marker-home", id: "marker2"} %>
    <%= image_tag "icons/marker3.svg", {class: "marker-home", id: "marker3"} %>
    <div class="banner-description">
    <h1> OMAKASE</h1>
    <h2>Plan the perfect trip for your friend</h2>
    </div>
   <div class="enter">
      <%= link_to "Start", new_trip_path, {class: "btn-homepage"} %>
    </div>
</div>
