<div id="modal-comment" class="modal fade" tabindex="-1" role= "dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title text-center">Add a comment</p>
      </div>
      <div class="modal-body text-body">
        <%= simple_form_for [trip], url: send_email_trip_path(trip), method: :get do |f| %>
          <%= f.input :comment, label: false, input_html: {value: trip.comment, rows: 4 } %>
          <div class="btn-comment">
            <%= f.submit "Send to #{trip.tourist_first_name}", class: "btn-secondary btn-save" %>
          </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
