<div id="modal-comment" class="modal fade" tabindex="-1" role= "dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center comment-title">Add a comment for <%= trip.title %> (optional)</h4>
      </div>
      <div class="modal-body comment-body">
        <%= simple_form_for [trip], url: send_email_trip_path(@trip), method: :patch do |f| %>
          <%= f.input :comment, label: 'Comment', input_html: {value: trip.comment } %>
          <%= f.submit "Save", class: "btn-primary btn-save" %>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
