.submit-edit-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 9px;
  margin-bottom : 5px auto;
}

.add-container {
  margin : 10px auto;
  flex: 1;
}

.add-item {
  display: inline-block;
}

.add-item p {
  color: transparent;
}

.add-item:hover p{
  color: $red;
  font-weight: 100;
  cursor: hand;
}

.plus-comment{
  height: 85px;
  padding : 10px;
  padding-right :50px;
  cursor: hand;
}

.plus-snacks{
  height: 90px;
  padding : 10px;
  padding-right : 50px;
  cursor: hand;
}

.save {
  flex: 0, 0 ,20%;
  margin-top: -2%;
}

.last-btn {
  //margin-left: 10px;
}

.activities-box {
  background-color: $white;
  border-radius: 2px;
}

.activities-container {
  margin: 20px 10%;
  padding: 20px;
  height: 600px;
  background-color: $white;
  border-radius: $border-radius-base;
}

#card-activities-all {
  display: flex;
  height: calc(100vh - 200px);
  color: $white;
}

.card-activities-filtered-with-title {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.card-activities-title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $red;
  min-height: 10%;
  max-height: 10%;
}

.card-activities-filtered {
  display: flex;
  flex-direction: column;
  overflow: auto;
  .fa {
    font-size: 20px;
    color: $red;
  }
}

.stretch {
  height: 100%;
  align-items: stretch;
}

.card-activity-unit {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex: 1 0 100px;
  width: auto;
  background-size: cover!important;
  background-position: center;
  align-items: center;
  border: 3px solid $red;
  font-size: 14px;
}

.absolute-link {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.delete-link {
  z-index: 1;
  position: absolute;
  top: 5px; right: 5px;
}

.card-activity-description {
  padding-left: 6px;
  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
  }
  p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 300;
  }
}


.submit-edit-trip {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#last-btn {
  margin-left: 10px;
  display: none;
}

