.submit-edit-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 9px;
  margin-bottom : 5px auto;
}

.add-container {
  margin : 10px auto;
  flex: 1;
}

.add-item {
  display: inline-block;
}

.add-item p {
  color: transparent;
}

.add-item:hover p{
  color: $yellow;
  font-weight: 100;
  cursor: hand;
}

.plus-comment{
  height: 85px;
  padding : 10px;
  padding-right :50px;
  cursor: hand;
}

.plus-snacks{
  height: 90px;
  padding : 10px;
  padding-right : 50px;
  cursor: hand;
}

.save {
  flex: 0, 0 ,20%;
  margin-top: -2%;
}

.last-btn {
  //margin-left: 10px;
}

.activities-container {
  margin: 5%;
  // background-color: $white;
  border-radius: $border-radius-base;
}

#card-activities-all {
  display: flex;
  height: calc(100vh - 300px);
}

.card-activities-filtered-with-title {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.card-activities-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-activities-filtered {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.stretch {
  height: 100%;
  align-items: stretch;
}

.card-activity-unit {
  position: relative;
  display: flex;
  flex: 1 0 100px;
  width: auto;
  background-size: cover!important;
  background-position: center;
  align-items: center;
}

.absolute-link {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.one {
  border: solid 2px $dark-pink;
}
.two {
  border: solid 2px $yellow;
}
.three {
  border: solid 2px $purple;
}
.card-activity-description {
  color: white;
  padding-left: 6px;
  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
  }
  p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 200;
  }
}

.card-activity-description-full .a {
  // font-weight: bold;
  // &:hover {
  //   color: $white;
  // }
}

.pink-bg {
  background-color: $dark-pink;
}

.yellow-bg {
  background-color: $yellow;
}

.purple-bg {
  background-color: $purple;
}


