.submit-edit-trip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 9px;
  margin-bottom : 5px auto;
}

.activities-box {
  background-color: $white;
  border-radius: 2px;
}

.activities-container {
  margin: 20px 10%;
  padding: 20px;
  background-color: $white;
  border-radius: $border-radius-base;
}

#card-activities-all {
  display: flex;
  height: calc(100vh - 150px);
  color: $white;
}

.card-activities-filtered-with-title {
  display: flex;
  flex-direction: column;
  width: 33.33%;
}

.card-activities-title {
  padding-top: 16px;
  font-size: 16px;
  background-color: $red;
  min-height: 10%;
  max-height: 10%;
}

.card-activities-filtered {
  display: flex;
  flex-direction: column;
  overflow: auto;
  .fa-times {
    font-size: 20px;
    color: $red;
  }
}

.stretch {
  height: 100%;
  align-items: stretch;
}

.card-activity-unit {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex: 1 0 100px;
  width: auto;
  background-size: cover!important;
  background-position: center;
  align-items: center;
  border: 3px solid $red;
  font-size: 14px;
}

.absolute-link {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.delete-link {
  z-index: 1;
  position: absolute;
  top: 5px; right: 5px;
}

.card-activity-description {
  padding-left: 6px;
  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
  }
  p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 300;
  }
  a {
    color: $red;
  }
}

.submit-edit-trip {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 0;
}

#end-buttons {
  display: flex;
  justify-content: center;
}

#last-btn {
  margin-left: 20px;
}

#comment-btn {
  display: flex;
  align-items: center;
  color: $red;
  text-decoration: none;
  margin-right: 10px;
  .fa {
    font-size: 20px;
    margin-right: 6px;
  }
}

.btn-save {
  padding: 10px 20px;
}
