/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  height: 40px;
  padding-bottom: 5px;
  text-align: center;
  border-style: none;
  color: $dark-pink;
}
.alert-info {
  background: white;
}
.alert-warning {
  background: $red;
  margin: 0;
  height: 40px;
  padding-bottom: 5px;
  text-align: center;
  border-style: none;
}
