
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 60px);
  background-size: cover !important;
  display: flex;
  align-items: left;
  justify-content: left;
  background-repeat: no-repeat;
}

.banner-home{
  margin: 10%;
  margin-top: 15%;
}

.banner-description {
  width: 550px;
  text-align: left;
  margin-top: -30px;
  margin-left: 130px;
}

.banner h1 {
  font-size: 64px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: $dark-pink;
  font-weight: 400;
  font-family: 'Monoton', cursive;
}

.banner h2 {
  font-size: 35px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}

.banner h3 {
  font-size: 19px;
  font-weight: 450;
  margin-bottom: 30px;
  color: white;
}

.enter {
  text-align:left;
  margin-top: 35px;
}
