.banner {
  color: $red;
  text-align: center;
  height: 150vh;
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
}

.banner-home{
  width: 100%;
}

.banner-description {
  width: 50%;
  text-align: left;
  margin: 7%;
  margin-top: 5%;
}

.banner h1 {
  font-size: 70px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  color: $red;
  font-weight: 300;
  //font-family: 'Monoton', cursive;
}

.banner h2 {
  font-size: 22px;
  font-weight: 250;
  color: $red;
  // opacity: 0.8;
}

.banner h3 {
  font-size: 18px;
  font-weight: 450;
  margin-bottom: 30px;
  color:  $red;
}

.enter {
  text-align: right;
  margin-top: 45%;
  margin-left: 18%;
}
