.btn-home {
  color: $dark-pink;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid $dark-pink;
  text-decoration: none !important;
  transition: background 0.3s ease;
  background: rgba(250, 250, 250, 0.1);
  font-size: 16px;
}

.btn-home:hover {
  background: rgba(236, 49, 89, 0.7);
  border: 2px solid white;
  color: white;
}

.btn-primary {
  background: $dark-pink;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

button{
  background:$dark-pink;
  color:white;
  text-decoration: none !important;
  border:none;
  position:relative;
  left: 57%;
  height:55px;
  font-size:18px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

button a {
  color: white;
  text-decoration: none !important;
}

button:hover a {
  color: $dark-pink;
  text-decoration: none !important;
}
button:hover{
  background: rgba(250,250,250,0.6);
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: $dark-pink;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

