.btn-home {
  color: $red;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid $red;
  text-decoration: none !important;
  transition: background 0.3s ease;
  background: rgba(250, 250, 250, 0.2);
  font-size: 50px;
}

.btn-home:hover {
  background: rgba(250, 250, 250, 0.6);
  border: 5px solid black;
  font-weight: 400;
  color: black;
}

.btn-small {
  color: $red;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border: 2px solid $red;
  text-decoration: none !important;
  transition: background 0.3s ease;
  background: rgba(250, 250, 250, 0.2);
  text-shadow: 1px 1px rgba(255, 35, 0, 0.4);
  font-size: 30px;
}

.btn-small:hover {
  background: rgba(250, 250, 250, 0.6);
  text-shadow: 1px 1px rgba(200, 200, 200, 1);
  border: 4px solid rgba(200, 200, 200, 1);
  font-weight: 400;
  color: (80, 80, 80, 1) !important;
  text-decoration: none;
}

.btn-primary {
  background: $red;
  border-radius: $border-radius-base;
  color: white;
  padding: 10px;
  opacity: 0.9;
}

.btn-primary:hover {
  background: $red !important;
  color: white;
  text-decoration: none !important;
  opacity: 1;
  transition:800ms ease all;

}

.btn-secondary {
  background: $white;
  border-radius: $border-radius-base;
  color: $red;
  border: 1px solid $red;
  padding: 10px;
  cursor: pointer;
}
.btn-secondary:hover {
  background: white !important;
  color: $red;
  text-decoration: none !important;
  cursor: pointer
}

.btn-homepage {
  background:$red;
  color:white;
  text-decoration: none !important;
  border:none;
  position:relative;
  right: -15%;
  height:110px;
  font-size:20px;
  padding: 17px;
  padding-right: 30px;
  padding-left: 30px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.btn-homepage a {
  color: white;
  text-decoration: none !important;
}

.btn-homepage:hover a {
  text-decoration: none !important;
}
.btn-homepage:hover {
  background: transparent;
  color: $red !important;
}
.btn-homepage:before, .btn-homepage:after {
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: $red;
  transition:400ms ease all;
}
.btn-homepage:after {
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-homepage:hover:before,.btn-homepage:hover:after {
  width:100%;
  transition:800ms ease all;
}

