.activities-container {
  margin: 20px 40px 20px 40px;
}

.card-activities-all {
  display: flex;
}

.card-activities-filtered-with-title {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 500px;
}

.card-activities-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-activities-filtered {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.card-activity-unit {
  display: flex;
  flex: 1 0 100px;
  width: auto;
  background-size: cover!important;
  background-position: center;
  align-items: center;
}
.one {
  border: solid 2px $dark-pink;
}
.two {
  border: solid 2px $yellow;
}
.three {
  border: solid 2px $purple;
}
.card-activity-description {
  color: white;
  padding-left: 6px;
  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
  }
  p {
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 200;
  }
}

.card-clicked {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.card-alone {
  display: flex;
  width: 100%;
  background-size: cover!important;
  background-position: center;
  align-items: center;
}

.pink-bg {
  background-color: $dark-pink;
}

.yellow-bg {
  background-color: $yellow;
}

.purple-bg {
  background-color: $purple;
}
