.card-container {
  overflow-y: scroll;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.card {
  overflow: hidden!important;
  display: flex;
  height: 250px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  border-radius: 3px;
  font-style: $body-font;
  min-width: 210px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin: 20px;
  &:first-child {
    margin-top: 40px;
  }
  &:last-child {
    margin-bottom: 40px;
  }
}
.card-link {
  background: linear-gradient(-225deg, rgba(0, 0, 0, 0.2) 0%, rgba(30,30,30,0.2) 50%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  transition: all 2s ease;
  cursor: pointer;
  &:hover {
    background: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(30,30,30,0.5) 50%);
  }
}
.dashboard-container {
  margin: 10px 30px;
}
.dashboard {
  display: flex;
}
.left-dash, .right-dash {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px 30px;
  padding-bottom: 0;
  margin: 20px;
  justify-content: space-around;
}
.right-dash {
  flex: 0 0 300px;
  text-align: center;
  position: sticky !important;
  height: 50vh;
  top: 80px;
  h3 {
    font-size: 25px;
    margin: 0;
    padding: 10px 15px;
  }
}
.trip-activities {
  display: flex;
  flex-basis: 33.33%;
}
.trip-title, .trip-title-large {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  padding: 0 5px;
  margin: 0;
  color: $white;
  opacity: 0.7;
  z-index: 4;
}
.trip-title-large {
  font-size: 40px;
  opacity: 0.8;
}
.trip-photo {
  width: 100%;
}
.trip-actions {
  display: flex;
  justify-content: space-between;
  text-align: center;
  z-index: 3;
  position: absolute;
  bottom: 10px;
  right: 10px;
  a {
    margin: 0 10px;
    color: $white;
    opacity: 0.7;
  }
  a:hover {
    opacity: 1;
  }
}
.fade-card {
  transition: all 0.5s ease;
}
.no-trip {
  margin: auto auto;
  padding: 20px;
}
