.card-container {
  overflow-y: scroll;
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
}
.card {
  overflow: hidden!important;
  display: flex;
  height: 250px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  font-style: $body-font;
  min-width: 210px;
  margin: 20px;
  border-radius: $border-radius-base;
  // border: 2px solid $red;
  &:first-child {
    margin-top: 40px;
  }
  &:last-child {
    margin-bottom: 40px;
  }
}
.card-link {
  background: linear-gradient(-225deg, rgba(0, 0, 0, 0.8) 0%, rgba(30,30,30,0.6) 10%);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: all 1s ease;
  cursor: pointer;
}

.trip-activities {
  display: flex;
  flex-basis: 33.33%;
}
.trip-title, {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1001;
  top: 40%;
  font-size: 40px;
}
.trip-details, .trip-title, .trip-title-large, {
  opacity: 0.9;
  margin: 0;
  padding: 0;
  color: white;
}
.trip-title-large {
  position: absolute;
  font-size: 30px;
  width: 100%;
  text-align: left;
  top: 10px;
  left: 10px;
}
.trip-photo {
  width: 100%;
  object-fit: cover;
}
.trip-date-info {
  position: absolute;
  width: 250px;
  bottom: 10px;
  left: 10px;
  z-index: 1002;
  color: white;
}
.trip-actions-btn {
  position: absolute;
  z-index: 1002;
  right: 20px;
  bottom: 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  a {
    text-decoration: none !important;
    color: white;
  }
  a:hover, a:focus {
    text-decoration: none !important;
    opacity: 1;
  }
}
.trip-actions-cta {
  position: absolute;
  z-index: 1002;
  right: 10px;
  top: 10px;
  width: 120px;
  color: white;
  font-size: 16px;
  text-align: right;
}
.trip-actions-cta:focus, .trip-actions-cta:hover {
    text-decoration: none;
    color: white;
  }
.fade-card {
  transition: all 0.7s ease;
}
.no-trip {
  margin: auto auto;
  padding: 20px;
}
.status-red {
  color: $red;
}
.status-green {
  color: $green;
}
.trip-card {
  font-size: 25px;
  color: $red;
  margin: 0 20px;
}
.nav-tabs-justified, .nav-tabs.nav-justified {
  margin: 0 20px 20px 20px;
  width: auto;
}
.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
  background-color: $red;
  color: $white;
  opacity: 1 !important;
}
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  background-color: $red;
  color: $white;
  opacity: 0.5;
}
