.left-dash {
  // height: 400px;
  margin-right: 18%;
  margin-left: 18%;
}
.time-now {
  font-size: 12px;
}
.btn-new-trip {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-new {
  width: 200px;
  margin-bottom: 3%;
}
