.dashboard-container {
  margin: 20px 20px;
  min-height: 600px;
}
.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dash {
  border-radius: 2px;
  margin: 20px 10%;
  flex: 1;
  justify-content: space-around;
}
.incoming-trip-card {
  text-align: center;
  font-size: 18px;
  // color: $red;
  margin: 20px;
  color: $blue-emerald;
}
.btn-new-trip {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-small {
  width: 200px;
  margin-bottom: 3%;
}
.trip-card {
  color: $red;
}
.nav-tabs {
  border-bottom: none;
}
.nav-link{
  color: black;
  border: none !important;
  margin: 0 0 20px 20px;
  background: none !important;
  padding: 0 0 8px 0 !important;
  transition: all 0.4s cubic-bezier(0.4, 0, 1, 1);
  border-bottom: 2px solid transparent !important;
  &:hover {
    background: none !important;
    border-bottom: 2px solid rgba(250, 54, 10, 0.6) !important;
    color: black;
  }
}
.nav-tabs > li.active > a {
  border-bottom: 2px solid $red !important;
  .badge {
    background-color: $red !important;
  }
}
.nav-tabs > li.active > a, .nav-tabs > li > a.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-tabs > li > a.nav-link {
  .badge {
    background-color: $black;
  }
}
.badge {
  opacity: 0.8;
  border-radius: 50%;
}
