.time-now {
  font-size: 12px;
}

.dashboard-photo {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 20px;
}
.btn-new-trip {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-new {
  width: 200px;
  margin-bottom: 3%;
}

