.container-mailer {
  width: 500px;
}

.content-mailer {
  text-align: justify;
  font-family: "Source Sans Pro", "sans-serif";
}

.content-mailer h3{
  color: #FA360A;
  font-size: 16px;
  text-decoration: none;

}

.mailer-icon {
  width: 20px;
}

.image-mailer {
  width: 400px;
}

.mailer-end-img{
  width: 200px;
  text-align: center;
}
