.modal{
  // background-color: rgba(161, 108, 6, 0.4);
  color : $yellow;
}
.modal-header {
  border-bottom: 2px solid yellow;
}

.modal-title {
  margin: 25px;
  font-size: 39px;
}
.modal-date {
  font-weight: lighter;
}
.modal-content {
  background-color: rgba(187, 174, 255, 0.60);
  border: 2px solid $yellow;
}

.modal-body{
  margin: 0 20px;
}

.modal-footer {
  padding : 35px;
  border-top: none;
}

.trip-comments {
  text-align:justify;
  border: 2px solid $yellow;
  padding: 10px 30px;
  //background-color: white;
}
.trip-summary {
  padding: 10px 10px;
  width: 100%;
  border-bottom: 2px solid $yellow;
  //background-color: white;
}
.trip-host {
  border-bottom: 2px solid $yellow;
  padding: 10px 30px;
  text-align: center;
}

.trip-details {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.trip-profiles{
  display: inline-block;
  padding: 10px;
}

.trip-infos{
  display: inline-block;
  align-items: center;
}

.trip-icons {
  height: 50px;
  display: inline-block;
  align-items: center;
}

.trip-details p{
  color: transparent;
  text-align: center;
  padding-top: 10px;
  width: 100px;
}

.trip-details:hover p {
  color : $yellow;
  font-weight: 100;
  cursor: hand;
}

.trip-photos {
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.first-activity, .second-activity, .third-activity {
  img {
    object-fit: cover;
    height: 200px;
  }
  h5 {
    font-size: 12px;
    color: white;
  }
  h6 {
   font-size: 16px;
    color: white;
  }
}

.first-activity {
  flex: 0 0 33.33%;
  position: relative;

}

.first-activity h6 {
  position: absolute;
  top: 5px;
  left: 10px;
}

.first-activity h5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.second-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.second-activity h6 {
  position: absolute;
  top: 5px;
  left: 10px;
}

.second-activity h5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.third-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.third-activity h6 {
  position: absolute;
  top: 5px;
  left: 10px;
}

.third-activity h5 {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.map {
  margin-top: 2%;
  //border: 2px solid $yellow;
  //background-color: white;
}

.btn-modal {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: none;
}
.no-comment-italic-light {
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}
