/* Main navbar */
.navbar-container {
  background: transparent;
  width: 100%;
}

.navbar-wagon {
  background: transparent;
  transition: all 0.3s ease;
  height: 60px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15%;
  margin-left: 15%;
  border-bottom: 1px solid white;
  z-index: 9999;
}

/* Logo */
.navbar-wagon-brand img {
  height: 35px;
}

/* Right section */
.navbar-wagon-right, .navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link, .navbar-wagon-greet {
  color: white;
  font-size: 16px;
  font-weight: 450;
}
.navbar-wagon-greet{
  padding: 0 20px;
}
.navbar-wagon-link:hover {
  color: white;
  text-decoration: none;
}

.navbar-container-dashboard {
  padding: 5px 20px;
  background: transparent;
  transition: all 0.3s ease;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%;
  border-bottom: 1px solid white;
  z-index: 9999;
}
.navbar-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
