*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Form Progress */
.progress {
  width: 100%;
  height: 80px;
  text-align: center;
  background: white;
  padding-top: 10px;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  width: 42px; height: 42px;
  line-height: 50%;
  border-radius: 42px;
}
.progress .bar {
  position: relative;
  width: 300px;
  height: 1px;
  top: -40px;
  outline-width: 1px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  background: $black;
}
.progress .circle .label, {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 28px;
  border-radius: 42px;
  color: $black;
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
}
.progress .circle .title {
  color: $red;
  font-size: 13px;
  line-height: 35px;
  margin-left: -5px;
}

/* Done / Active */

.progress .circle.active .label {
  color: $black;
  background: rgba(253, 128, 104, 1);
  width: 42px;
  height: 42px;
  line-height: 29px;
  border-radius: 42px;
  margin-top: 3px;
  font-size: 18px;
}
.progress .circle.active .title {
  color: $black;
  font-weight: 400;
}
