.container-show {
  margin: 5%;
  margin-top: 0;
  height: 100%;
  //background-color: $white;
  border-radius: $border-radius-base;
}

.show-header-container {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.trip-summary {
  display: flex;
  flex: 0 20%;
  align-items: flex-start;
}

.show-header{
  flex: 0 auto;
  color : $red;
  align-items: flex-start;
  margin: 15px;
  text-align: left;
  h4 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    line-height: 1.1;
  }
}

.show-date {
  font-weight: 400;
  color : rgba(80, 80, 80, 0.8);
  text-align: left;
}

.place-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
}

.show-trip-icons{
  width: 25%;
  justify-content: center;
}


.trip-host {
  color : $red;
  font-weight: 400;
  text-align: center;
  padding: 20px 30px;
  border-radius: 3px;
    p{
    font-size: 12px;
    margin: 0;
  }
}

.show-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 1px solid $red;
  padding: 1px;
}

.trip-comments {
  text-align:justify;
  padding: 10px 30px;
  color: $red;
  //background-color: white;
}

.trip-comments p {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  color: $red;

}

.trip-summary-content {
  display: flex;
  justify-content: space-around;
  flex: 0 0 20%;
}

.trip-details {
  flex: 0 0 70%;
  color : $red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.trip-infos{
  color : $red;
  text-align: center;
  padding: 10px;
  max-width: 200px;
}

.trip-infos .fa{
  color : $red;
  font-size : 15px;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.main-content-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.trip-photos {
  display: flex;
  width: 100%;
}

.modal-activities:first-of-type .trip-photo {
  border: 2px solid $red;
}

.modal-activities:nth-of-type(2) .trip-photo {
  border: 2px solid #6dff85;
}

.modal-activities:nth-of-type(3) .trip-photo {
  border: 2px solid $blue;
}

.modal-activities {
  flex: 0 0 33%;
  color: $red;
  padding-left: 40px;
  text-align: center;


ul {
  list-style-type: none;
}
  img {
    object-fit: cover;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    li:last-child {
    border: 1px solid blue;
    }
  }
  h5 {
    font-size: 12px;
    text-align: center;
    // transform: rotate(90deg);
    // transform-origin: left top 0;
  }
  h6 {
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
  }
}

.map {
  flex: 1;
  position: relative;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

#warnings-panel {
  width: 100%;
  height:10%;
  text-align: center;
}

.show-footer {
  padding-top : 35px;
  border-top: none;
  margin-left: 70%;
}

.btn-show {
  text-decoration: none;
}

.no-comment-italic-light {
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}

.modal-sm {
  width: 500px;
}

.comment-body {
  .simple_form {
    margin: 0;
    margin-left: auto;
  }
  textarea.form-control {
    height: 200px;
  }
}
