.container-show {
  margin: 20px 10%;
  padding: 20px;
  height: 100%;
  background-color: $white;
  border-radius: $border-radius-base;
}

.show-button-container {
  display: flex;
  justify-content: space-between;
}

.show{
  color : $red;
  background: linear-gradient(-140deg, rgba(217, 223, 255, 150), rgba(0, 0, 0,50));
}

.show-title {
  margin: 15px;
  font-size: 39px;
  color : rgba(80, 80, 80, 0.8);
}

.show-date {
  font-weight: 400;
  color : rgba(80, 80, 80, 0.8);
}

.show-body{
  margin: 0 20px;
}

.trip-comments {
  text-align:justify;
  border: 2px solid $red;
  padding: 10px 30px;
  color: $red;
  //background-color: white;
}

.trip-comments p {
  font-size: 18px;
  color: $red;
}


.trip-summary {
  padding: 10px 10px;
  width: 100%;
  //background-color: white;
}

.trip-host {
  color : $red;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 30px;
  text-align: center;
}

.trip-details {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.trip-infos{
  flex: 0 0 15%;
  text-align: center;
  padding: 10px;
}


.trip-infos .fa{
  color: rgba(80, 80, 80, 1);
  font-size : 20px;
}

.trip-infos p{
  color: rgba(80, 80, 80, 1);
  text-align: center;
  padding-top: 10px;
}


.trip-icons {
  display: inline-block;
  align-items: center;
  text-align : center;
}


.trip-photos {
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 2px solid $red;
  border-radius: 2px;
}
.modal-activities {
  display: flex;
}
.modal-activity {
  flex: 0 0 33.33%;
  color: $red;

  img {
    object-fit: cover;
    height: 200px;
  }
  h5 {
    font-size: 12px;
    text-align: center;
  }
  h6 {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
  }
}


.first-activity {
  flex: 0 0 33.33%;
  position: relative;

}

.second-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.third-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.map {
  margin-top: 2%;
  //border: 2px solid $red;
  //background-color: white;
  position: relative;
  border-radius: 2px;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

#warnings-panel {
  width: 100%;
  height:10%;
  text-align: center;
}

.show-footer {
  padding-top : 35px;
  border-top: none;
  margin-left: 70%;
}


.btn-show {
  text-decoration: none;
}

.no-comment-italic-light {
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}

.modal-sm {
  width: 500px;
}

.comment-body {
  .simple_form {
    margin: 0;
    margin-left: auto;
  }
  textarea.form-control {
    height: 200px;
  }
}
