.pdf{
  background-color: gray;
  color : #FA360A;
  font-style: "Source Sans Pro", "sans-serif";
}

.pdf {
  font-style:"Work Sans", "sans-serif";
}

.pdf-content {
  //background-color: rgba(0, 0, 0, 0.2);
  //border: 2px solid #FA360A;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}

.pdf-title {
  margin: 15px;
  font-size: 39px;
  color : #FA360A;

}

.pdf-date {
  font-weight: lighter;
  color : #FA360A;
}


.pdf-body{
  margin: 0 20px;
}

.pdf-trip-comments {
  text-align:justify;
  border: 2px solid #FA360A;
  padding: 10px 30px;
  color: #FA360A;
  background: rgba(250, 250, 250, 0.2);
}

.pdf-trip-comments p {
  font-size: 18px;
  color: #FA360A;
}


.pdf-trip-summary {
  padding: 10px 10px;
  width: 100%;
  border-bottom: 2px solid #FA360A;
  //background-color: white;
}

.pdf-trip-host {
  color : #FA360A;
  padding: 20px 30px;
  text-align: center;
}

.pdf-trip-details{
  min-width: 300px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pdf-trip-infos{
  flex: 0 0 20%;
  text-align: center;
  padding: 10px;
}


.pdf-trip-infos .fa{
  color : #FA360A;
  font-size : 20px;
}

.pdf-trip-infos p{
  color: #FA360A;
  text-align: center;
  padding-top: 10px;
}


.pdf-trip-icons {
  display: inline-block;
  align-items: center;
  text-align : center;
}

.pdf-trip-photos {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pdf-modal-activities {
  display: flex;
}
.pdf-modal-activity {
  flex: 0 0 33.33%;
  color: #FA360A;
  img {
    object-fit: cover;
    height: 200px;
  }
  h5 {
    font-size: 12px;
    text-align: center;
    padding: 0px;
  }
  h6 {
    font-size: 16px;
    text-align: center;
    padding: 0px;
  }
}

.first-activity {
  flex: 0 0 33.33%;
  position: relative;

}

.second-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.third-activity {
  flex: 0 0 33.33%;
  position: relative;
}

.pdf-map-content {
  border: 2px solid #FA360A;
  background: rgba(250, 250, 250, 0.2);
  margin-top: 10%;
  margin-bottom: 10%;
}

.pdf-map {
  border: 2px solid #FA360A;
  background: rgba(250, 250, 250, 0.2);
  position: relative;
}

.pdf-footer {
  padding-top : 35px;
  border-top: none;
  margin-left: 90%;
  margin-bottom: 2%;
}

.btn-pdf {
  text-decoration: none;
  color: #FA360A;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border: 2px solid #FA360A;
  text-decoration: none !important;
  transition: background 0.3s ease;
  background: rgba(250, 250, 250, 0.2);
  text-shadow: 1px 1px rgba(255, 35, 0, 0.4);
  font-size: 30px;
}

.no-comment-italic-light {
  opacity: 0.5;
  font-style: italic;
  text-align: center;
}

.modal-sm {
  width: 500px;
}

.pdf-comment-body {
  .simple_form {
    margin: 0;
    margin-left: auto;
  }
  textarea.form-control {
    height: 200px;
  }
}
